@import url("base.css");
@import url("layout.css");
@import url("skeleton.css");

body {
    background:  #4fa2e4
}

.wrapper {
    background-color: #FFFFFF;
    -moz-box-shadow: 0 0 10px 8px #267dc0;
    -webkit-box-shadow: 0 0 10px 8px #267dc0;
    box-shadow: 0 0 10px 8px #267dc0;
}

/*************************************/
/*Header                             */
/*************************************/
.logo h1 {
    margin-top: 10px;
    margin-left: -7px;
    margin-bottom: -20px;

}

.logo h2 {
    margin-top:2px;
    margin-left: 10px;
    font-size: 13px;
    font-style: italic;
    color: #37B5E7;
}

.logo h2 span {
    font-size: 25px;
}

/*************************************/
/*Main navigation                    */
/*************************************/
.category-nav {
    padding-left: 1em;
}

.category-nav a {
    color:#4FA2E4;
    text-transform: uppercase;
    font-size: 95%;
}

.category-nav a:hover {
    text-decoration: underline;
}

.category-nav>ul>li{
    /*border: 3px outset #D7CECA;*/
    padding: 0.5em 1em;
}

.category-nav > ul> li > span {
    font-weight: bold;
    font-size: 120%;
    line-height: 2em;
    text-transform: uppercase;
}

.category-nav a {
    text-decoration: none;
}

.category-nav > ul > li:nth-child(1) {
    color: #08187E;
}

.category-nav > ul > li:nth-child(2) {
    color: #FF8000;
}

.category-nav > ul > li:nth-child(3) {
    color: #007C31;
}

/*
.main-nav ul li:first-child a{
    border-top-left-radius: 20px;
}
*/

.main-nav {
    clear: both;
}
.main-nav {
    background: url("http://localhost/eWorldComputers/assets/images/navigation.png");
    width: 1000px;
    height: 35px;
    margin-bottom: 15px;
}
.main-nav ul {
    padding-top: 7px;
    text-align: left;
    margin-left: 19em;
}

#search_mini_form {
    position: relative;
    margin-left: 33em;
    margin-top: -1.7em;    
}

#search_mini_form .button {
    padding-top: 1px;
    height: 23px;
}

#search_mini_form input {
    margin-top: 3px;
}

#search_mini_form button.button span {
    line-height: 20px;
}


.main-nav li {
    display: inline;
    text-align: center;
    padding: 2px 10px 2px 10px;
    border-left:2px solid #9EC6EF;
}

.main-nav li:first-child,.main-nav li:last-child {
    border: none;
}

.main-nav li a {
    text-decoration: none;
    color:  #0B4363;
    font-weight: bold;
    /*
    border-left: 1px solid #008ECA;
    border-right: 1px solid #008ECA;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#A9DCF2), to(#00A2E3));
    background-image: -webkit-linear-gradient(top, #A9DCF2, #00A2E3);
    background-image: -moz-linear-gradient(top, #A9DCF2, #00A2E3);
    background-image: -o-linear-gradient(top, #A9DCF2, #00A2E3);
    background-image: linear-gradient(to bottom, #A9DCF2, #00A2E3);
    */
}

.main-nav li:first-child a {
    border-left: none;
}

.main-nav li a:hover {
    color: #99D6F1;
/*
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C4DAA0), to(#87B43F));
    background-image: -webkit-linear-gradient(top, #C4DAA0, #87B43F);
    background-image: -moz-linear-gradient(top, #C4DAA0, #87B43F);
    background-image: -o-linear-gradient(top, #C4DAA0, #87B43F);
    background-image: linear-gradient(to bottom, #C4DAA0, #87B43F);
*/
}

/*************************************/
/*Quick Access                       */
/*************************************/
.quick-access {
    padding-top: 5px;
    padding-right: 10px;
    margin-bottom: -20px;
}

.login ul {
    list-style: none;
}

.login ul li {
    display: inline;
}

.login>ul>li>a {
    font-size:12px;
    text-decoration: none;
    padding: 0 0.55em;
    border-left: 1px solid #02A2E3;
}

.login>ul>li:first-child a{
    border: none;
}

.login ul li a:hover {
    color: #00A2E3;
}

/*************************************/
/*Global search bar                  */
/*************************************/
.quick-access{
    text-align: right;
}

.quick-access input {
    border-radius: 0.5em;
    width:12em;
}

.form-search input {
    display: inline;
}

.form-search button:hover {
    background: #A6DBF1;
}

/*************************************/
/*Breadcrumbs						 */
/*************************************/
.breadcrumbs li {
    display: inline;
}

/*************************************/
/*Main                               */
/*************************************/
.main-container {
    margin: 0 2em;
}

/*************************************/
/*Forms                              */
/*************************************/
.contact-us form, .contact-us fieldset {
    border: 2px outset #B6B4B3;
    padding: 1em;
}

/*************************************/
/*Slideshow animation                */
/*************************************/
@-moz-keyframes cycle {
    0%  { left:0px; }
4%  { left:0px; } 
16% { left:0px; opacity:1; z-index:0; } 
20% { left:325px; opacity:0; z-index:0; } 
21% { left:-325px; opacity:0; z-index:-1; }
92% { left:-325px; opacity:0; z-index:0; }
96% { left:-325px; opacity:0; }
100%{ left:0px; opacity:1; }

}

@-moz-keyframes cycletwo {
    0%  { left:-325px; opacity:0; }
16% { left:-325px; opacity:0; }
20% { left:0px; opacity:1; }
24% { left:0px; opacity:1; } 
36% { left:0px; opacity:1; z-index:0; } 
40% { left:325px; opacity:0; z-index:0; }
41% { left:-325px; opacity:0; z-index:-1; } 
100%{ left:-325px; opacity:0; z-index:-1; }
}

@-moz-keyframes cyclethree {
    0%  { left:-325px; opacity:0; }
36% { left:-325px; opacity:0; }
40% { left:0px; opacity:1; }
44% { left:0px; opacity:1; } 
56% { left:0px; opacity:1; } 
60% { left:325px; opacity:0; z-index:0; }
61% { left:-325px; opacity:0; z-index:-1; } 
100%{ left:-325px; opacity:0; z-index:-1; }
}

@-moz-keyframes cyclefour {
    0%  { left:-325px; opacity:0; }
56% { left:-325px; opacity:0; }
60% { left:0px; opacity:1; }
64% { left:0px; opacity:1; }
76% { left:0px; opacity:1; z-index:0; }
80% { left:325px; opacity:0; z-index:0; }
81% { left:-325px; opacity:0; z-index:-1; }
100%{ left:-325px; opacity:0; z-index:-1; }
}

@-moz-keyframes cyclefive {
    0%  { left:-325px; opacity:0; }
76% { left:-325px; opacity:0; }
80% { left:0px; opacity:1; }
84% { left:0px; opacity:1; }
96% { left:0px; opacity:1; z-index:0; }
100%{ left:325px; opacity:0; z-index:0; }
}

@-webkit-keyframes cycle {
    0%  { left:0px; }
4%  { left:0px; }
16% { left:0px; opacity:1; z-index:0; } 
20% { left:325px; opacity:0; z-index:0; }
21% { left:-325px; opacity:0; z-index:-1; }
50% { left:-325px; opacity:0; z-index:-1; }
92% { left:-325px; opacity:0; z-index:0; }
96% { left:-325px; opacity:0; }
100%{ left:0px; opacity:1; }
}

@-webkit-keyframes cycletwo {
    0%  { left:-325px; opacity:0; }
16% { left:-325px; opacity:0; }
20% { left:0px; opacity:1; }
24% { left:0px; opacity:1; } 
36% { left:0px; opacity:1; z-index:0; } 
40% { left:325px; opacity:0; z-index:0; }
41% { left:-325px; opacity:0; z-index:-1; }  
100%{ left:-325px; opacity:0; z-index:-1; }
}

@-webkit-keyframes cyclethree {
    0%  { left:-325px; opacity:0; }
36% { left:-325px; opacity:0; }
40% { left:0px; opacity:1; }
44% { left:0px; opacity:1; } 
56% { left:0px; opacity:1; z-index:0; } 
60% { left:325px; opacity:0; z-index:0; } 
61% { left:-325px; opacity:0; z-index:-1; }
100%{ left:-325px; opacity:0; z-index:-1; }
}

@-webkit-keyframes cyclefour {
    0%  { left:-325px; opacity:0; }
56% { left:-325px; opacity:0; }
60% { left:0px; opacity:1; }
64% { left:0px; opacity:1; }
76% { left:0px; opacity:1; z-index:0; }
80% { left:325px; opacity:0; z-index:0; }
81% { left:-325px; opacity:0; z-index:-1; }
100%{ left:-325px; opacity:0; z-index:-1; }
}

@-webkit-keyframes cyclefive {
    0%  { left:-325px; opacity:0; }
76% { left:-325px; opacity:0; }
80% { left:0px; opacity:1; }
84% { left:0px; opacity:1; }
96% { left:0px; opacity:1; z-index:0; }
100%{ left:325px; opacity:0; z-index:0; }
}

/* ANIMATION BAR */
@-moz-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }	
}
@-webkit-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }	
}

.content h1 {
    font-size:48px;
    color:#000;
    text-shadow:0px 1px 1px #f4f4f4;
    text-align:center;
    padding:60px 0 30px;	
}

/* LAYOUT */
.slider-container {
    overflow:hidden;
}

/* CONTENT SLIDER 
#content-slider {
        height:360px;
        margin:10px auto 0;
}
*/

/* SLIDER */
#slider {
    background:#000;
    border:5px solid #eaeaea;
    box-shadow:1px 1px 5px rgba(0,0,0,0.7);
    width:706px;
    overflow:visible;
    position:relative;
}
#mask {
    overflow:hidden;
    height:320px;
}

#slider ul {
    margin:0;
    padding:0;
    position:relative;
}

#slider li {
    width:680px;
    height:320px;
    position:absolute;
    left:-325px;
    list-style:none;
}

#slider li.firstanimation {
    -moz-animation:cycle 25s linear infinite;	
    -webkit-animation:cycle 25s linear infinite;		
}
#slider li.secondanimation {
    -moz-animation:cycletwo 25s linear infinite;
    -webkit-animation:cycletwo 25s linear infinite;		
}
#slider li.thirdanimation {
    -moz-animation:cyclethree 25s linear infinite;
    -webkit-animation:cyclethree 25s linear infinite;		
}
#slider li.fourthanimation {
    -moz-animation:cyclefour 25s linear infinite;
    -webkit-animation:cyclefour 25s linear infinite;		
}
#slider li.fifthanimation {
    -moz-animation:cyclefive 25s linear infinite;
    -webkit-animation:cyclefive 25s linear infinite;		
}

#slider .tooltip {
    background:rgba(0,255,0,0.7);
    width:300px;
    height:60px;
    position:relative;
    bottom:75px;
    left:-320px;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;  
}
#slider .tooltip h1 {
    color:#fff;
    font-size:24px;
    font-weight:300;
    line-height:60px;
    padding:0 0 0 20px;
}
#slider li#first:hover .tooltip, 
#slider li#second:hover .tooltip, 
#slider li#third:hover .tooltip, 
#slider li#fourth:hover .tooltip, 
#slider li#fifth:hover .tooltip {
    left:0px;
}
#slider:hover li, 
#slider:hover .progress-bar {
    -moz-animation-play-state:paused;
    -webkit-animation-play-state:paused;
}

/* PROGRESS BAR */
.progress-bar { 
    position:relative;
    width:680px; 
    height:5px;
    background:#00FF00;
    -moz-animation:fullexpand 25s ease-out infinite;
    -webkit-animation:fullexpand 25s ease-out infinite;
}

/*************************************/
/*Products page                      */
/*************************************/
article.product img {
    height: 140px;
}

article.product {
/*    border: 2px solid #E9EFDF;*/
    display:inline;
    margin: 5px 0;
    padding-top: 10px;
    text-align: center;
}

article.product p:not(:first-child) {
    text-align:left;
    margin: 10px;
}


article.product strong {
    color: green;
}

/*************************************/
/*Miscellaneous                      */
/*************************************/
.std + .static-block {
    margin-top: 35px;
    padding: 10px 3px 0 15px;
    background: #eeeeee;
    /*
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ABD8EA), to(#00A2E3));
    background-image: -webkit-linear-gradient(top, #ABD8EA, #00A2E3);
    background-image: -moz-linear-gradient(top, #ABD8EA, #00A2E3);
    background-image: -o-linear-gradient(top, #ABD8EA, #00A2E3);
    background-image: linear-gradient(to bottom, #ABD8EA, #00A2E3);
    */
}

.std + .static-block h2 {
    color: #006098;
}

.static-block img {
    width:100%;
}

.block.block-subscribe {
    clear: both;
    margin-left: 0;
}

.block.block-subscribe .block-title {
    text-align: center;
    background: #4FA2E4;
    padding: 3px 6px;
}

.block.block-subscribe .block-title strong {    
    color: white;
}

.form-subscribe-header label {
    margin: 5px 0;
    text-align: center;
    font-weight: normal;
    font-size: 80%;
}

div.actions {
    margin-top: -1px;
    float: right;
    display: inline;
}

/*************************************/
/*Footer							 */
/*************************************/
footer {
    margin-top: 30px;
    border: 2px outset #D7CECA;
    padding: 7px;
    text-align: center;
}

footer .column {
    text-align: left;
    float: left;
    padding: 0 20px;
}

footer .column > ul {
    color: #006098;
    font-weight: bold;
}

footer .column > ul > li > ul a {
    text-decoration: none;
    font-size: 80%;
    margin-left: -2.8em;
    color: #4FA2E4;
}

footer .column > ul > li > ul a:hover {
    text-decoration: underline;
}


address {
    clear:both;
    color: #00772B;
    text-align: center;
    margin: 10px;
}

address a {
    color: #00772B;
}